@model VMAddNewRadiation
@{
    ViewData["Title"] = "AddNewRadiation";
    Layout = "~/Views/Shared/_DocotrsLayout.cshtml";
}

<div class="row mt-2">

<div class="col-md-12">
</div>
</div>
<div class="container bcontent">
    <div class="card" style="width: 100%;margin:auto;border-top:4px solid gray">
        <div class="row no-gutters">
            <div class="col-md-2">
                <img class="card-img  rounded-circle CardPhotoPatients" style="margin-left:30%" src="@Url.Content( @Model.Patient.ImageUrl)" alt="Suresh Dasari Card">


            </div>
            <div class=" col-md-9 ml-4">
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group mb-2">
                                <label for="name">Name</label>&nbsp;&nbsp;
                                <input type="text" class="form-control" placeholder="Patient Name" aria-label="Name" value="@Model.Patient.Name" readonly>
                            </div>
                            <div class="form-group mb-2">
                                <label for="BirthDate">Birth Date</label>&nbsp;&nbsp;
                                <input type="text" class="form-control" placeholder="BirthDate" aria-label="Age" value="@Model.Patient.BitrhDate.Date" readonly>
                            </div>
                            <div class="form-group mb-2">
                                <label for="Address">Address:</label>&nbsp;&nbsp;
                                <input type="text" class="form-control" placeholder="Address" value="@Model.Patient.Address" aria-label="Address" readonly>
                            </div>
                            <div class="form-group mb-2">

                                <div class="form-check">
                                    <label for="Gender" class="mr-5">Gender:</label>
                                    @{ if (Model.Patient.Gender.ToLower() == "male")
                                        {<input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1" checked readonly>
                                            <label class="form-check-label" for="flexRadioDefault1">
                                                Male
                                            </label>
                                        }
                                        else
                                        {

                                            <input class="form-check-input ml-2" type="radio" name="flexRadioDefault" id="flexRadioDefault1" checked readonly>
                                            <label class="form-check-label ml-4" for="flexRadioDefault1">
                                                Female
                                            </label>
                                        }
                                    }
                                </div>

                            </div>


                        </div>
                        <div class=" col-md-6">
                            <div class="form-group mb-2">
                                <label for="Phone">Phone</label>&nbsp;&nbsp;
                                <input type="text" class="form-control" placeholder="Phone" aria-label="Phone" value="@Model.Patient.Phone" readonly>
                            </div>
                            <div class="form-group mb-2">
                                <label for="Bloodgroup">BloodGroup:</label>&nbsp;&nbsp;
                                <input type="text" class="form-control" placeholder="BloodGroup" aria-label="BloodGroup"value="@Model.Patient.BloodGroup" readonly>
                            </div>
                            <div class="form-group mb-2">
                                <label for="email">Email</label>&nbsp;&nbsp;
                                <input type="text" class="form-control" placeholder="Email" aria-label="Email" value="@Model.Patient.Email" readonly>
                            </div>


                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
<br />
<form asp-action="AddNewRadiation" method="post" enctype="multipart/form-data">
    @*@Html.HiddenFor(m => m.PatientId);*@
    <input type="hidden" asp-for="@Model.PatientId" value="@Model.Patient.Nid" class="hide" />
    @*<input type="hidden" asp-for="@Model.Id" value="null" class="hide" />*@
    <div class="container bcontent">
        <h5 style=" color:gray">&nbsp;&nbsp;  Radiation Type </h5>
        <div class="card" style="width: 100%;margin:auto;border-top:2px solid green">
            <div class="row mb-3 mt-2">
                <div class="form-group" style="width:95%;margin:auto">

                    <textarea class="form-control" asp-for="@Model.Type" placeholder="Write type" style="height: 50px"></textarea>
                    <span asp-validation-for="@Model.Type" class="text-danger"></span>
                </div>
            </div>
        </div>
    </div>
    <div class="container bcontent">
        <h5 style=" color:gray">&nbsp;&nbsp;   Radiation Report </h5>
        <div class="card" style="width: 100%;margin:auto;border-top:2px solid green">
            <div class="row mb-3 mt-2">
                <div class="form-group" style="width:95%;margin:auto">
                    <textarea class="form-control" placeholder="Write Radiation Report" id="floatingTextarea2" style="height: 100px" asp-for="@Model.Report"></textarea>
                    <span asp-validation-for="@Model.Report" class="text-danger"></span>
                </div>
            </div>
        </div>
    </div>
    <br />
    <div class="container bcontent">
        <h5 style=" color:gray">&nbsp;&nbsp;   Note </h5>
        <div class="card" style="width: 100%;margin:auto;border-top:2px solid green">
            <div class="row mb-3 mt-2">
                <div class="form-group" style="width:95%;margin:auto">

                    <textarea class="form-control" asp-for="@Model.Note" placeholder="Write Notes" id="floatingTextarea2" style="height: 100px"></textarea>
                    <span asp-validation-for="@Model.Note" class="text-danger"></span>
                </div>
            </div>
        </div>
    </div>
    <br />
    <div class="container bcontent">
        <h5 style=" color:gray">&nbsp;&nbsp;   Date & Attache File </h5>
        <div class="card" style="width: 100%;margin:auto;border-top:2px solid green">
            <div class="row no-gutters">
                <div class="row" style="width:100%;margin-top:20px">
                    <div class="col-md-4 offset-1" style="margin-top:7px">
                        <div class="form-group mb-2 ">
                            <label for="date">Date:</label>&nbsp;&nbsp;
                            <input asp-for="@Model.DateAndTime" />
                            @*<button class="btn small" id="button" data-date-format="yyyy-mm-dd"  data-date="2012-02-20">Your Date Picker</button>*@
                            <span asp-validation-for="@Model.DateAndTime" class="text-danger"></span>
                        </div>
                    </div>
                      <div class="offset-1 col-md-4 mr-6 mb-3 form-group" style="margin-top:7px;">
                        <label class="custom-control-label" for="customFile">Upload file</label>
                        <div class="custom-file">

                            <input asp-for="@Model.formFile" class="custom-file-input" id="customFile" />
                            <label asp-for="formFile" class="custom-file-label">Choose file</label>
                        </div>
                        <span asp-validation-for="@Model.formFile" class="text-danger"></span>

                    </div>

                    <div style=" width:100%;margin-bottom:10px;margin-left:250px;margin-top:20px">
                        <input type="button" class="btn btn-outline-danger mb-2 float-right" value=" Clear " style=" border-radius:4px;padding:4px;width:100px;margin-right:10px" />
                        <input type="submit" class="btn btn-primary float-right" value=" Save " style=" border-radius:4px;padding:4px;width:100px;margin-right:10px" />
                        @*<a type="" asp-action=" " class="btn btn-outline-danger mb-2 float-right" style=" border-radius:4px;padding:4px;width:100px;margin-right:10px">Clear</a>
            <a type="button" asp-action="" class="btn btn-primary float-right" value=" Save " style=" border-radius:4px;padding:4px;width:100px;margin-right:10px">Save</a>*@

                    </div>

                </div>
            </div>
        </div>
    </div>
</form>


